<header id="header" class="loading" style="opacity: 1;">

  <!-- Logo -->
    <!--h1 id="logo"><a href="http://casa.colorado.edu/~bertathompson/#intro">Zachory K. Berta-Thompson</a></h1-->
    <h1 id="logo"><a>Vatsal Panwar</a></h1>
  <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="{{ site.baseurl }}/EDM_schedule_2.html">Exoplanets and Disks Meeting</a></li>
<!--         <li><a href="http://casa.colorado.edu/~bertathompson/#research">Research</a></li>
        <li><a href="http://casa.colorado.edu/~bertathompson/#teaching">Teaching</a></li>
        <li><a href="http://casa.colorado.edu/~bertathompson/#cv">CV</a></li>
        <li><a href="http://casa.colorado.edu/~bertathompson/#slides">Slides</a></li>
        <li><a href="http://casa.colorado.edu/~bertathompson/#cube">C.U.B.E.</a></li>
        <li><a href="http://casa.colorado.edu/~bertathompson/#contact">Contact</a></li> -->
      </ul>
    </nav>

</header>

<!-- Header -->
<!--header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
